html,
body {
	background-color: $black;
	color: $white;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  margin: 0;
  overflow-x: hidden;
}

section {
  margin-bottom: 200px;
}

a:not(.btn) {
  color: $white;
  text-decoration: none;
  transition: $transition;

  &:hover {
    color: $primary;
  }

  &.link-secondary {
    @include fontStylingSet(17px, 20px, 400);
    position: relative;

    &::after {
      content: '';
      width: 100%;
      height: 1px;
      position: absolute;
      bottom: -4px;
      left: 0;
      background-color: $white;
    }

    &:hover {
      @include gradientText;

      &::after {
        background-color: $primary;
      }
    }

    &:focus,
    &:active {
      color: $primary;

      &::after {
        background-color: $transparent;
      }
    }
  }
}

.btn {
  @include fontStylingSet(14px, 17px, 600);
  background-color: $white;
  padding: 14px 20px;
  color: $btn-color;
  border-radius: 8px;
  text-transform: uppercase;
  transition: $btn-transition;
  letter-spacing: 0.02em;

  &:hover {
    background: $linear-gradient;
    color: $white;
  }

  &:active {
    background: $primary;
    color: $white;
  }

  &-secondary {
    background-color: $transparent;
    border: 1px solid $primary;
    color: $white;
  }
}

.container {
  max-width: 1024px;
  margin: 0 auto;

  &-header {
    padding-top: 32px;
  }
}

.wrapper {
  display: flex;
  align-items: center;

  &-title {
    position: relative;
    margin: 103px auto 150px auto;

    &::before,
    &::after {
      content: '';
      background-repeat: no-repeat;
      background-size: contain;
      display: block;
      position: absolute;
    }

    &::before {
      @include square(116px);
      background-image: url('../assets/images/skintest_1.svg');
      top: -17px;
      left: 0;
    }

    &::after {
      content: '';
      @include square(112px);
      background-image: url('../assets/images/skintest_2.svg');
      right: 0;
      bottom: -17px;
    }
  }

  &-steps {
    align-items: flex-start;
    justify-content: center;
    padding: 0 32px 0 172px;
  }

  &-helper {
    align-items: flex-start;
    padding: 0 164px 0 155px;
  }
}

.header {
  &__nav {
    @include flexStylingSet(flex, center, space-between);
    width: 100%;
    margin-left: 48px;
    
    a:not(.btn) {
      @include fontStylingSet(16px, 19px, 400);
    }

    a.active {
      color: $primary;
    }
  }

  &__logo {
    cursor: pointer;
  }
}

.title {
  &-main {
    @include fontStylingSet(72px, 74px, 700);
    @include gradientText;
    text-align: center;
    margin: 0 auto;
    max-width: 813px;
  }

  &-secondary {
    @include fontStylingSet(52px, 62px, 500);
    text-align: center;
    margin: 0 0 52px 0;
  }
  
  &-helper {
    margin-bottom: 80px;
  }

  &-third {
    @include fontStylingSet(42px, 52px, 500);
    margin: 0 0 40px 0;
  } 
}

.features {
  align-items: flex-start;

  &__item {
    max-width: 258px;
    padding: 0 45px;

    &:first-child {
      padding-left: 35px;
    }

    &:last-child {
      padding-right: 35px;
    }
  }

  &__title {
    @include fontStylingSet(24px, 30px, 500);
    display: block;
    margin-bottom: 32px;
  }

  &__text {
    @include fontStylingSet(17px, 26px, 400);
    margin: 0;
  }
}

.setup {
  &__steps {
    width: 551px;
    height: 383px;
    background-color: $white;
  }

  &__list {
    margin-right: 60px;
  }
  
  &__point {
    margin-bottom: 52px;

    span:not(.setup__num) {
      @include fontStylingSet(17px, 24px, 400);
    }

    .setup__num {
      @include square(54px);
      @include fontStylingSet(18px, 27px, 700);
      @include flexStylingSet(inline-flex, center, center);
      position: relative;
      color: $white;
      margin-right: 16px;
      border-radius: 100%;
      background: $linear-gradient;

      &::after {
        content: '';
        display: block;
        position: absolute;
        height: 70px;
        bottom: -72px;
        width: 1px;
        background: linear-gradient(172.23deg, $primary, $secondary);
      }
    }

    &:last-child {
      margin-bottom: 0;

      .setup__num::after {
        display: none;
      }
    }
  }
}

.example {
  &__video {
    width: 100%;
    background-color: $white;
    border-radius: 13px;
    cursor: pointer;
    position: relative;

    &.overlay {
      &::before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        background-color: $card-color;
      }

      .progressbar {
        opacity: 1;
      }
    }

    video {
      width: 1024px;
      height: 600px;
    }

    .example__play {
      @include square(100%);
      @include centeringSet;
      cursor: pointer;
      position: absolute;
      background-color: $transparent;

      &#start::before,
      &#pause::before {
        @include centeringSet;
        position: absolute;
        content: '';
        display: block;
        background-repeat: no-repeat;
        z-index: 1;
      }

      &#start {
        &::before {
          @include square(94px);
          background-image: url('../assets/images/video_play.svg');
          background-size: 116px 94px;
          transition: $transition;
        }
  
        &:hover {
          &::before {
            background-image: url('../assets/images/video_play_hover.svg');
          }
        }
      }

      &#pause {
        &::before {
          width: 116px;
          height: 94px;
          background-image: url('../assets/images/video_pause.svg');
          background-size: contain;
          transition: $transition;
          background-position: center;
          opacity: 0;
        }

        &:hover::before {
          opacity: 1;
        }
      }

      &#start:disabled,
      &#pause:disabled {
          display: none;
      }
    }

    &:hover {
      .progressbar {
        opacity: 1;
      }

      .example__play::before {
        background-image: url('../assets/images/video_play_hover.svg');
      }
    }
  }
}

.helper {
  &__code {
    width: 514px;
    height: 468px;
    background-color: $white;
    margin-right: 48px;
  }

  &__list {
    padding-top: 46px;
  }

  &__point {
    @include fontStylingSet(17px, 20px, 400);
    width: 141px;
    text-align: center;
    margin-bottom: 64px;

    &-execution::before,
    &-safty::before,
    &-api::before {
      content: '';
      display: block;
      margin:  0 auto 10px auto;
      background-size: contain;
      background-repeat: no-repeat;
    }

    &-execution::before {
      width: 48px;
      height: 42px;
      background-image: url('../assets/images/skintest_transparent.svg');
    }

    &-safty::before {
      width: 42px;
      height: 51px;
      background-image: url('../assets/images/skintest_safety.svg');
    }
    
    &-api::before {
      @include square(48px);
      background-image: url('../assets/images/skintest_api.svg');
    }
  }
}

.support {
  &__billtype {
    display: flex;
    justify-content: center;
  }

  &__checkbox {
    display: flex;
    align-items: center;

    input[type="checkbox"] {
      width: 0;
      height: 0;
      opacity: 0;
      position: absolute;
      z-index: 0;
    }

    span {
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__type-monthly  {
    position: relative;
    display: flex;
    color: $white;
    cursor: pointer;
    align-items: center;

    &::before {
      @include square(24px);
      content: '';
      display: block;
      position: absolute;
      background-color: $dark-gray;
      border-radius: 16px;
      bottom: 4px;
      left: unset;
      right: 4px;
      z-index: 1;
    }

    &::after {
      content: '';
      display: block;
      width: 56px;
      height: 32px;
      background-color: $primary;
      border-radius: 16px;
      margin-left: 16px;
      cursor: pointer;
    }

    + span {
      color: $primary;
      cursor: pointer;
    }
  }

  input:checked + span {
    color: $primary;

    &::before {
      @include square(24px);
      left: 108px;
    }
            
    + span {
      color: $white;
    }
  }

  &__type-annually {
    margin-left: 16px;
  }

  &__cards {
    justify-content: space-between;
    align-items: end;

    &.sale {
      .card__title sup {
        display: inline-flex;
      }

      .card__sale {
        display: block;
      }
    }
  }
}

.card {
  background-color: $card-color;
  padding: 40px 27px;
  width: 325px;
  box-sizing: border-box;
  border-radius: 14px;
  margin-top: 108px;

  &__title {
    @include fontStylingSet(48px, 57px, 600);
    margin: 0 0 40px 0;
    padding: 0 0 44px 4px;
    position: relative;

    &::after {
      content: '';
      width: 100%;
      height: 1px;
      background-color: $light-gray;
      opacity: 0.16;
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      border-radius: 14px;
    }

    sup {
      @include fontStylingSet(24px, 29px, 600);
      display: none;
      align-items: flex-start;
      color: $sup-color;
      position: relative;
      margin-left: 8px;

      span {
        @include fontStylingSet(15px, 19px, 400);
        margin-top: 5px;
      }

      &::after {
        content: '';
        width: 100%;
        height: 2px;
        background-color: $sup-color;
        position: absolute;
        display: block;
        border-radius: 7px;
        left: 0;
        top: 12px;
      }
    }
  }

  &__sup {
    @include fontStylingSet(16px, 28px, 600);
    display: block;
    color: $gray;
    text-transform: uppercase;
    margin-bottom: 11px;
  }

  &__list {
    display: block;
    padding: 0;
    margin-bottom: 40px;
  }

  &__sale {
    @include fontStylingSet(12px, 15px, 400);
    display: none;
    margin-top: 8px;
    position: absolute;
  }

  &__point {
    @include fontStylingSet(14px, 21px, 400);
    display: flex;
    letter-spacing: -0.01em;
    margin-bottom: 20px;
    max-width: 265px;
    
    &::before {
      content: '';
      @include square(21px);
      min-width: 21px;
      display: inline-block;
      margin-right: 11px;
      background-image: url('../assets/images/skintest_checkmarks.svg');
      background-repeat: no-repeat;
    }
  }

  &__btn {
    display: block;
    box-sizing: border-box;
    max-width: 230px;
    padding: 20px 16px;

    span::after {
      content: '';
      background-image: url('../assets/images/skintest_arrow.svg');
      background-repeat: no-repeat;
      display: inline-block;
      width: 31px;
      height: 16px;
      margin-left: 10px;
      vertical-align: text-top;
    }
  }

  &-marked {
    margin-top: 39px;
    background: $linear-gradient;

    .btn.btn-primary:hover {
      background: $dark-gray;
      color: $white;

      span::after {
        background-image: url('../assets/images/skintest_arrow.svg');
      }
    }

    .card__point::before {
      background-image: url('../assets/images/skintest-checkmark-dark.svg');
    }

    .card__btn span::after {
      background-image: url('../assets/images/skintest_arrow-dark.svg');
    }

    .card__sup {
      color: $dark-gray;
    }
  }
}

.additional {
  margin-bottom: 132px;

  &__list {
    justify-content: space-between;
    flex-wrap: wrap;
    width: 793px;
    margin: 0 auto;
  }

  &__point {
    @include fontStylingSet(17px, 26px, 400);
    position: relative;
    width: 33%;
    text-align: center;
    margin-bottom: 66px;

    &-support::before,
    &-execution::before,
    &-ready::before,
    &-architecture::before,
    &-playright::before,
    &-opensource::before {
      content: '';
      background-repeat: no-repeat;
      display: block;
      margin: 0 auto 8px auto;
    }

    &-support::before {
      background-image: url('../assets/images/skintest_support.svg');
      width: 40px;
      height: 51px;
    }

    &-execution::before {
      @include square(40px);
      background-image: url('../assets/images/skintest_execution.svg');
    }

    &-ready::before {
      background-image: url('../assets/images/skintest_ready.svg');
      width: 50px;
      height: 39px;
    }

    &-architecture::before {
      @include square(46px);
      background-image: url('../assets/images/skintest_architecture.svg');
    }

    &-playright::before {
      @include square(48px);
      background-image: url('../assets/images/skintest_playright.svg');
    }

    &-opensource::before {
      @include square(45px);
      background-image: url('../assets/images/skintest_opensource.svg');
    }
  }
}

.contact {
  text-align: center;
  margin-bottom: 150px;

  &__subtitle {
    @include fontStylingSet(24px, 35px, 400);
    display: block;
    margin-bottom: 40px;
  }

  &__link {
    @include fontStylingSet(26px, 26px, 500);
    @include flexStylingSet(flex, center, center);

    &::before {
      content: '';
      @include square(120px);
      display: inline-block;
      margin-right: 64px;
      border-radius: 100%;
      background: url('../assets/images/skintest_arrow.svg'), linear-gradient(149.9deg, $primary 36.55%, $secondary 109.5%);
      background-size: 62px 32px, 100%;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

.social {
  display: inline-flex;
  align-items: baseline;
  padding: 0 0 0 25px;

  &__item {
    cursor: pointer;
    transition: $transition;
    font-weight: 500;
  }

  &__item-npm,
  &__item-github,
  &__item-telegram,
  &__item-youtube {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 20px;

    a {
      font-size: 0;
    }
  }

  &__item:not(:last-child) {
    @include fontStylingSet(16px, 19px, 400);
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__item-npm {
    width: 52px;
    background-image: url('../assets/images/npm.svg');

    &:hover {
      background-image: url('../assets/images/npm-violet.svg');
    }
  }

  &__item-github {
    width: 17px;
    background-image: url('../assets/images/git.svg');

    &:hover {
      background-image: url('../assets/images/git-violet.svg');
    }
  }

  &__item-telegram {
    width: 17px;
    background-image: url('../assets/images/telegram.svg');

    &:hover {
      background-image: url('../assets/images/telegram-violet.svg');
    }
  }

  &__item-youtube {
    width: 20px;
    background-image: url('../assets/images/youtube.svg');

    &:hover {
      background-image: url('../assets/images/youtube-violet.svg');
    }
  }
}

.footer {
  &__nav {
    padding-bottom: 20px;
    justify-content: space-between;
    position: relative;
    align-items: inherit;

    &::after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background: $linear-gradient;
    }
  }

  &__links {
    margin-left: 118px;
    a {
      @include fontStylingSet(14px, 14px, 500);
      &:not(:last-child) {
        margin-right: 40px;
      }
    }
  }

  &__copyright {
    font-size: 12px;
    display: block;
    text-align: center;
    margin: 37px 0 27px 0;
    color: $light-gray;
    opacity: 0.6;
  }
}

.mobile {
  position: relative;
  
  &__burger {
    @include square(18px);
    display: none;
    background-color: $transparent;
    cursor: pointer;

    span,
    span::before,
    span::after {
      content: '';
      width: 18px;
      height: 1px;
    }
  
    span {
      background-color: $white;
      display: block;
      position: relative;

      &::before,
      &::after {
        background-color: $white;
        position: absolute;
        left: 0;
      }
  
      &::before {
        top: -5px
      }
  
      &::after {
        bottom: -5px
      }
    }

    &.button-open {
      span {
        background-color: $transparent;

        &::before { 
          transform: rotate(45deg);
          top: 0;
        }

        &::after { 
          transform: rotate(-45deg);
          bottom: 0;
        }
      }
    }
  }

  &__wraper {
    display: none;
    position: absolute;
    background-color: $mobile-nav-color;
    border-radius: 8px;
    top: 38px;
    right: 0;
    width: calc(100vw - 20px);
    padding: 24px 16px;
    box-sizing: border-box;
    z-index: 1;
    text-align: center;

    &::before {
      content: '';
      display: block;
      position: absolute;
      border: 17px solid transparent;
      border-bottom: 17px solid $mobile-nav-color;
      top: -27px;
      right: 5px;
    }
  }

  &__item {
    @include fontStylingSet(14px, 14px, 500);
    margin-bottom: 24px;
    text-align: center;

    &-documentation {
      position: relative;
      font-weight: 600;
      cursor: pointer;

      span {
        position: relative;

        &::after {
          @include square(8px);
          content: '';
          background-image: url('../assets/images/dropdown-arrow.svg');
          background-repeat: no-repeat;
          display: inline-block;
          margin-left: 8px;
          background-size: contain;
        }
      }
    }
  }

  &__social {
    @include flexStylingSet(flex, center, space-between);
    width: 100%;
    padding: 26px 0 22px 0;
    position: relative;
    max-width: 320px;
    margin: 0 auto;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background: $linear-gradient;
    }
  }
  
  &__btn {
    display: inline-block;
  }

  &__secondary-list {
    padding: 16px 0 10px 0;
    display: none;

    li {
      margin-bottom: 12px;

      a {
        @include fontStylingSet(15px, 24px, 400);
      }
    }
  }

  .btn {
    display: inline-block;
    padding: 9px 19px;
  }

  &__burger.button-open + .mobile__wraper {
    display: block;
  }
}

.mobile__item-documentation.opened {
  .mobile__secondary-list {
    display: block;
  }

  span::after {
    transform: rotate(180deg);
  }
}

.guide {
  display: flex;
  padding-top: 80px;
  margin-bottom: 140px;

  &__container {
    display: flex;
  }

  ul {
    margin-top: 80px;
  }

  ul li {
    @include fontStylingSet(17px, 24px, 400);
    margin-bottom: 12px;

    &:hover {
      color: $primary;
    }

    &-active:hover,
    &-active {
      @include gradientText;
    }
  }
  
  &__article  {
    padding-left: 155px;
  }

  ul {
    min-width: 262px;
  }

  h2 {
    @include fontStylingSet(32px, 32px, 500);
    margin: 140px 0 24px 0;

    &:first-child {
      margin-top: 0;
    }
  }

  p {
    @include fontStylingSet(17px, 24px, 400);
    margin: 0 0 30px 0;
  }

  pre {
    margin: 0;
  }
}

pre[class*="language-"]{
  border-radius: 8px;
  background-color: $card-color !important;
  border: none !important;
  border-top: 40px solid $btn-color !important;
  margin: 0;
  padding: 16px !important;
  position: relative;
  overflow: visible !important;
  
  &::after {
    @include fontStylingSet(12px, 15px, 400);
    content: 'skintest.ts';
    color: $white;
    border-radius: 6px 6px 0px 0px;
    background-color: $card-color;
    position: absolute;
    top: -33px;
    left: 74px;
    padding: 9px 16px;
  }

  &::before {
    content: '';
    background-image: url('../assets/images/skintest_points.svg');
    background-repeat: no-repeat;
    width: 42px;
    height: 10px;
    position: absolute;
    top: -26px;
    left: 16px;
  }

  .token.punctuation,
  code[class*="language-"] {
    color: $white;
  }

  .token.number {
    color: $code-highlight-violet;
  }

  .token.keyword,
  .token.function {
    color: $code-highlight-yellow;
  }
}

.progressbar__butterfly { 
  position: absolute; 
  left: 0;
  top: -9px;
  background-color: $primary;
  width: 20px; 
  height: 20px;
  border-radius: 20px;
}

.progressbar { 
  display: block;
  opacity: 0;
  transition: all .15s ease-in-out;
  width: 688px; 
  top: -15px;
  height: 4px;
  position: relative; 
  margin: 10px auto; 
  border-radius: 4px;
  background-color: $progressbar-color;
}

.progressbar__loading {
 border-radius: 4px; 
 height: 4px;
 width: 0;
 background-image: $linear-gradient; 
}