@media only screen and (max-width: 1280px) {
  section {
    margin-bottom: 160px;
  }

  .container {
    max-width: 100%;
    padding: 0 40px;

    &-header {
      padding-top: 30px;
    }
  }

  .wrapper {
    &-helper,
    &-steps {
      padding: 0;
    }

    &-helper {
      flex-direction: column-reverse;
    }
  }

  .wrapper-title {
    margin: 98px auto 128px auto;

    &::before {
      @include square(97px);
      top: -55px;
    }

    &::after {
      @include square(85px);
      top: -56px;
    }
  }

  .title {
    &-main {
      font-size: 60px;
      max-width: 613px;
    }

    &-third,
    &-secondary {
      @include fontStylingSet(36px, 36px, 500);
    }

    &-helper {
      margin-bottom: 52px;
    }
  }

  .features {
    &__item {
      padding: 0 20px;

      &:first-child {
        padding-left: 23px;
      }
  
      &:last-child {
        padding-right: 23px;
      }
    }

    &__title {
      @include fontStylingSet(22px, 26px, 500);
      margin-bottom: 28px;
    }

    &__text {
      @include fontStylingSet(17px, 22px, 400);
    }
  }

  .setup {
    &__steps {
      width: 449px;
      height: 427px;
    }
  }

  .example {
    video {
      width: 688px;
      height: 512px;
    }
  }

  .helper {
    &__list {
      display: flex;
      padding-top: 0;
    }

    &__point {
      margin-bottom: 32px;
    }

    &__list,
    &__code {
      margin-right: auto;
      margin-left: auto; 
    }
  }

  .support {
    &__cards {
      flex-direction: column;
    }

    &__billtype {
      margin-bottom: 40px;
    }
  }

  .card {
    display: flex;
    margin: 0 0 32px 0;
    padding: 32px 50px;
    width: 100%;

    &__title {
      margin: 0;
      padding: 0 50px 40px 0;

      &::after {
        right: 0;
        left: auto;
        top: 0;
        height: 100%;
        width: 1px;
      }
    }

    &__sale,
    sup {
      display: none;
    }

    &__wrapper {
      display: flex;
      flex-direction: column;
    }

    &__list {
      @include flexStylingSet(flex, center, space-between);
      flex-wrap: wrap;
      padding-left: 50px;
      margin-bottom: 12px;
    }

    &__btn {
      margin-left: 50px;
      padding: 19px 13px;
    }

    &__point {
      width: 188px;
      margin-bottom: 20px;

      &::before {
        margin-right: 8px;
      }
    }
  }

  .additional {
    &__point {
      font-size: 17px;
    }

    &__point-support::before {
      margin-bottom: 7px;
    }

    &__list {
      width: 100%;
      padding: 0 15px;
    }
  }

  .contact {
    &__subtitle {
      @include fontStylingSet(22px, 27px, 400);
    }
  }

  .guide {
    margin-bottom: 120px;

    &__article {
      padding-left: 40px;
    }

    &__aside {
      min-width: 232px;
    }

    &__item {
      @include fontStylingSet(15px, 24px, 400);
      margin-bottom: 8px;
    }

    h2 {
      margin: 80px 0 24px 0;
    }

    .highlight.jsx span {
      @include fontStylingSet(12px, 13px, 400);
    }
  }

  .contact {
    &__subtitle {
      margin-bottom: 43px;
    }

    &__link {
      &::before {
        @include square(100px);
        margin-right: 40px;
        background-size: 51px 26px, 100%;
      }
    }
  }
  
  .footer {
    &__links a:not(:last-child) {
      margin-right: 23px;
    }
  
    &__copyright {
      margin: 24px 0 40px 0;
    }
  }
  
  .social__item:not(:last-child) {
    font-size: 14px;
  }
}

@media only screen and (max-width: 768px) {
  .btn {
    font-size: 12px;
  }

  a:not(.btn).link-secondary {
    @include fontStylingSet(14px, 17px, 400);
  }
  
  .additional,
  section {
    margin-bottom: 90px;
  }

  .header {
    &__nav {
      display: none;
    }
  }

  .mobile {
    &__burger {
      padding: 0;
      display: block;
    }
  }

  .container {
    padding: 0 10px;

    &-header {
      padding-top: 16px;
    }
  }

  .wrapper {
    justify-content: space-between;
    flex-direction: column;

    &-header {
      flex-direction: row;
    }

    &-helper {
      flex-direction: column-reverse;
    }

    &-title {
      margin: 60px auto;
      
      &::before {
        @include square(60px);
        transform: rotate(90deg);
        left: -6px;
        top: -40px;
      }
  
      &::after {
        @include square(60px);
        right: -6px;
        top: auto;
        bottom: -31px;
      }
    }
  }

  .title {
    &-main {
      @include fontStylingSet(32px, 1.5, 700);
      max-width: 267px;
      padding: 0 16px;
    }

    &-secondary {
      font-size: 24px;
      margin-bottom: 32px;
    }

    &-third {
      font-size: 24px;
      margin-bottom: 24px;
    }
  }

  .features {
    &__item {
      padding: 0;
      margin-bottom: 32px;
      max-width: 100%;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }

    &__title {
      @include fontStylingSet(18px, 20px, 500);
      margin-bottom: 16px;
    }

    &__text {
      font-size: 14px;
    }
  }

  .setup {
    &__list {
      margin: 0 auto 24px auto;
    }

    &__point {
      margin-bottom: 39px;
    }

    &__num {
      @include square(40px);
      margin-right: 24px;
    }

    &__steps {
      width: 100%;
      height: 379px;
    }
  }

  .example {
    video {
      width: 100%;
      height: 320px;
    }

    &__play#start::before {
      width: 83px;
      height: 68px;
    }
  }

  .helper {
    &__point {
      @include fontStylingSet(15px, 26px, 400);
      width: 98px;

      &-execution::before,
      &-safty::before,
      &-api::before {
        margin-bottom: 8px;
      }
    }

    &__point-api::before,
    &__point-execution::before {
      @include square(40px);
    }

    &__point-safty::before {
      width: 33px;
      height: 40px;
    }

    &__code {
      width: 100%;
      height: 430px;
    }
  }

  .support {
    &__checkbox span {
      font-size: 14px;
    }

    &__billtype {
      margin-bottom: 24px;
    }

    input:checked + span::before {
      left: 98px;
    }
  }

  .card {
    flex-direction: column;
    padding: 32px 32px 12px 32px;

    &__title {
      padding: 0 0 24px 0;
      margin-bottom: 24px;
      &::after {
        width: 100%;
        height: 1px;
        top: unset;
        bottom: 0;
      }
    }

    &__sup {
      margin-bottom: 9px;
    }

    &__list {
      padding: 0;
      margin: 0;
    }

    &__point {
      width: 100%;
    }

    &__btn {
      max-width: 100%;
      margin-left: 0;
      text-align: center;
    }
  }

  .additional {
    &__point {
      margin-bottom: 57px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .contact {
    &__subtitle {
      @include fontStylingSet(15px, 22px, 400);
      max-width: 218px;
      margin: 0 auto 24px auto;
    }

    &__link {
      font-size: 24px;
      &::before {
        @include square(48px);
        margin-right: 13px;
        background-size: 24px 12px, 100%;
      }
    }
  }

  .footer {
    &__links {
      @include flexStylingSet(flex, center, inherit);
      flex-direction: column;
      margin-bottom: 24px;
      margin-left: 0;

      a {
        margin: 0;
        font-size: 12px;

        &:first-child {
          margin-bottom: 16px;
        }

        &:not(:last-child) {
          margin-right: 0;
        }
      }
    }

    &__nav picture {
      margin-bottom: 24px;
      text-align: center;
    }
  }

  .social.wrapper {
    flex-direction: row;
    max-width: 300px;
    margin: 0 auto;
  }

  .contact {
    margin-bottom: 90px;
  }

  &__copyright {
    @include fontStylingSet(12px, 15px, 400);
  }

  .guide {
    &__article {
      padding-left: 0;
    }

    &__aside {
      display: none;
    }

    h2 {
      @include fontStylingSet(24px, 29px, 500);
    }

    p {
      @include fontStylingSet(15px, 20px, 400);
      margin: 0 0 20px 0;
    }

    .highlight.jsx span {
      white-space: break-spaces;
    }
  }
}