@mixin square($size) {
  width: $size;
  height: $size;
}

@mixin fontStylingSet($font-size, $line-height, $font-weight) {
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
}

@mixin gradientText {
  background: linear-gradient($secondary, $primary);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin centeringSet {
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

@mixin flexStylingSet($flex, $flex-ai, $flex-jc) {
  display: $flex;
  align-items: $flex-ai;
  justify-content: $flex-jc;
}

@mixin scrollBarStyling { 
  &::-webkit-scrollbar {
    height: 6px;
    border-radius: 4px;
    background-color: $mobile-nav-color;
  }

  &::-webkit-scrollbar-thumb {
    height: 6px;
    background: $linear-gradient;
    border-radius: 4px;
  }
}

@mixin fixedWidth($width) {
  width: $width;
  max-width: $width;
  min-width: $width;
}