$transition: color .15s ease-in-out,background-color .15s ease-in-out, background-image .15s ease-in-out;
$btn-transition: color .2s ease-in-out,background-color .2s ease-in-out;
$transparent: rgba(255, 255, 255, 0);
$white: #fff;
$black: #000;
$primary: #AC8DF8;
$secondary: #86D6E9;
$gray: #969696;
$dark-gray: #343434;
$light-gray: #EEEEEE;

$btn-color: #212121;
$card-color:#171717;
$sup-color: #D7D7D7;
$mobile-nav-color: #272727;