{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "regex"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "eol-last": [
      "error",
      "never"
    ],
    "quotes": [
      "error", 
      "single", 
      { "avoidEscape": true }
    ],
    "semi": [
      "error",
      "always"
    ]
  }
}