<div class="guide">
  <aside class="guide__aside">
    <nav>
      <ul class="guide__list">
        <li class="guide__item guide__item-active"><a href="#"><%- page.title %></a></li>
        <li class="guide__item"><a href="#">Features and scenarios</a></li>
        <li class="guide__item"><a href="#">Component's eyes and selectors</a></li>
        <li class="guide__item"><a href="#">Multi page support</a></li>
        <li class="guide__item"><a href="#">Fluent asserts</a></li>
        <li class="guide__item"><a href="#">Cooking tasks</a></li>
        <li class="guide__item"><a href="#">The runner - skintest.ts</a></li>
        <li class="guide__item"><a href="#">Debugging</a></li>
        <li class="guide__item"><a href="#">Tag-filter</a></li>
        <li class="guide__item"><a href="#">Custom plugins</a></li>
        <li class="guide__item"><a href="#">Test data</a></li>
        <li class="guide__item"><a href="#">Secrets and environment</a></li>
        <li class="guide__item"><a href="#">Reporting</a></li>
        <li class="guide__item"><a href="#">Iframes</a></li>
        <li class="guide__item"><a href="#">Shadow dom</a></li>
        <li class="guide__item"><a href="#">Parallel execution</a></li>
        <li class="guide__item"><a href="#">Browser support</a></li>
        <li class="guide__item"><a href="#">CI\CD</a></li>
      </ul>
    </nav>
  </aside>
  <div class="guide__article">
    <%- page.content %>
  </div>
</div>