<section class="contact">
  <h3 class="title title-third">Still have questions?</h3>
  <span class="contact__subtitle">Email us if you have a problem or just want to chat.</span>
  <a class="contact__link"
     href="mailto:hello@skintest.io">hello@skintest.io</a>
</section>



<nav class="footer__nav wrapper">
  <picture>
    <source srcset="<%- url_for('/assets/images/logo_mobile.svg') %>" media="only screen and (max-width: 768px)">
      <img src="<%- url_for('/assets/images/logo.svg') %>" alt="Skintest logo">
   </picture>

  <div class="footer__links">
    <a href="<%- url_for('guide') %>">
      Documentation
    </a>
    <a href="mailto:hello@skintest.io">
      Email us
    </a>
  </div>

  <ul class="social wrapper">
    <li class="social__item social__item-playwright"><a href="#">Playwright</a></li>
    <li class="social__item social__item-npm"><a href="#">npm</a></li>
    <li class="social__item social__item-github"><a href="#">github</a></li>
    <li class="social__item social__item-telegram"><a href="#">telegram</a></li>
    <li class="social__item social__item-youtube"><a href="#">youtube</a></li>
  </ul>
</nav>

<span class="footer__copyright">© 2021 Skintest.io. All Rights Reserved.</span>