$font-family: "Lato", sans-serif;
$font-size: 14px;

$white: #fff;

$dark: #424242;
$dark-primary: #525252;
$dark-secondary: #a8a8a8;
$dark-highlight: #fafafa;

$warn: #c82506;

$border-color: #e7e7e7;

$compact-screen-width: 1024px;