<header role="banner"
        class="header">
  <st-logo></st-logo>
</header>

<article class="page">
  <ng-container *ngIf="page$ | async as page">
    <div class="page__header">
      <h1 class="page__title">{{page.title}}</h1>
      <h3 class="page__subtitle">{{page.description}}</h3>
    </div>
  </ng-container>
  <div class="page__content">
    <div class="page__content-padding">
      <router-outlet></router-outlet>
    </div>
  </div>
</article>

<router-outlet name="child"></router-outlet>